@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}

<h1>Настройка аккаунта</h1>

<div>
    <div class="column">
        <div class="col-md-9">
            <partial name="_ManageNav" />
        </div>
        <hr style="margin-bottom: 5%;" />
        <div>
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
