@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Личные данные";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-8">
        <p>Ваша учетная запись содержит персональные данные, которые Вы нам предоставили. Эта страница позволяет Вам загрузить или удалить эти данные</p>
        <p>
            <strong>Удаление данных приведет к безвозвратному удалению Вашей учетной записи</strong>
        </p>
        <div class="d-flex flex-row">
            <form id="download-data" asp-page="DownloadPersonalData" method="post" style="margin-right: 1%;">
                <button class="btn btn-primary" type="submit">Скачать личные данные</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Удалить</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
